In [1]:
# Libraries
import os
import random
import numpy as np
import pandas as pd
from faker import Faker


# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Show current working directory
print(os.getcwd())

c:\Users\alban\OneDrive\Dokumente\AA-Zhaw\Sem5\Scientific Programming\Github\scientific_programming\Week_02\exercises

In [6]:
from faker import Faker

# Create an instance of the Faker class
fake = Faker()
# Empty list to store the data
col_01 = []
col_02 = []
col_03 = []
col_04 = []

smartphones= ["Nokia",
              "Samsung",
              "Apple",
              "Huawei"]

random.seed(10)
# Loop to generate the data
for _ in range(100):
    col_01.append(smartphones[random.randint(0,3)])
    col_02.append(fake.name())
    col_03.append(fake.email())
    col_04.append(round(random.normalvariate(1000,200)))

# Store the data in a dataframe
df = pd.DataFrame(list(zip(col_01, col_02, col_03, col_04)), columns=['Smartphone_Marke', 'Name of User', 'Email', 'Price'])
df.head()

  Smartphone_Marke        Name of User                      Email  Price
0            Nokia  Arthur Bennett DDS      dmitchell@example.com    942
1          Samsung   Christopher Foley      barbara31@example.net    975
2            Apple        Diane Powell    granthurley@example.net   1063
3           Huawei     Casey Cervantes     dawntaylor@example.com    921
4            Apple        Cory Elliott  kimberlysmith@example.org   1057